@tailwind base;
@tailwind components;
@tailwind utilities;

.royal-table {
  @apply grid grid-flow-col border border-gray text-left;

  thead {
    @apply contents bg-light;

    tr {
      @apply contents border-b border-gray;

      th {
        @apply px-4 py-4 text-dark font-normal leading-none whitespace-nowrap;

        &[type="button"] {
          @apply cursor-pointer select-none;
        }
      }
    }
  }

  tbody {
    @apply contents;

    tr {
      @apply contents;

      &:nth-child(even) {
        @apply bg-light;
      }

      td {
        @apply px-4 py-2 text-text;
      }
    }
  }
}
