@tailwind base;
@tailwind components;
@tailwind utilities;

.royal-table {
  @apply border border-gray text-left;
  table-layout: auto;

  thead {
    @apply bg-light;

    tr {
      @apply border-b border-gray;

      th {
        @apply px-4 py-4 text-dark font-normal whitespace-nowrap relative;

        &:hover {
          .resize-handle {
            opacity: 0.3;
          }
        }

        &[type='button'] {
          @apply cursor-pointer select-none;
        }

        svg {
          width: 1em;
          height: 1em;
          bottom: 0.1em;
          position: relative;
        }

        .resize-handle {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          background: black;
          opacity: 0;
          width: 3px;
          cursor: col-resize;
        }
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        @apply bg-light;
      }

      td {
        @apply px-4 py-2 text-text;
      }
    }
  }
}
