@tailwind base;
@tailwind components;
@tailwind utilities;

.royal-table {
  @apply table-auto border border-gray text-left;

  & thead {
    @apply bg-light;

    & tr {
      @apply border-b border-gray;

      th {
        @apply px-4 py-4 text-dark font-normal leading-none whitespace-nowrap;

        &[type="button"] {
          @apply cursor-pointer select-none;
        }
      }
    }
  }

  & tbody {
    tr {
      &:nth-child(even) {
        @apply bg-light;
      }

      td {
        @apply px-4 py-2 text-text;
      }
    }
  }
}
