<table class="royal-table" style={{this.style}} ...attributes>
  <thead>
    <tr>
      {{yield (component "royal-table/column" place="head" onClickHead=@onClickHead onSort=@onSort sortingProp=@sortingProp sortingIconComponent=@sortingIconComponent table=this)}}
    </tr>
  </thead>
  <tbody>
    {{#each @data as |item index|}}
      <tr>
        {{yield (component "royal-table/column" place="body" data=item) item index}}
      </tr>
    {{/each}}
  </tbody>
</table>
