<table>
  <thead>
    <tr>
      {{yield (component "royal-column" place="head")}}
    </tr>
  </thead>
  <tbody>
    {{#each @data as |item index|}}
      <tr>
        {{yield (component "royal-column" data=item  place="body") item index}}
      </tr>
    {{/each}}
  </tbody>
</table>
